html {
    background-image: linear-gradient(white, #e5d3e7);
    /* background-image: linear-gradient(#170a1f, #881b73, #FB8B43); */
    /* background-color: #e5d3e7; */
    /* background-size: cover; */
    height: 100%;
}

body {
    /* background-image: linear-gradient(white, #e5d3e7);
    /* background-image: linear-gradient(#170a1f, #881b73, #FB8B43); */
    /* background-color: #e5d3e7; */
    /* background-size: cover; */
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
}

header h1 {
    margin: auto;
    text-align: center;
    color: #de649a;
    font-family: 'Megrim', cursive;
    /* font-size: 26px; */
}

main {
    display: grid;
    /* width: fit-content; */
    width: 100%;
    /* height:max-content; */
    /* height: 100%; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
    gap: 10px;
    /* justify-content: center; */
    /* justify-items: center; */
}

.sectionTitle {
    text-align: left;
    /* color: #5a1647; */
    color: #5a1647;
    font-family: 'Righteous', cursive;
    /* font-size: 18px; */
    /* grid-column: span 1; */
}

p {
    color: white;
}

footer {
    border: dotted 2px #881b73;
    background-color: #e5d3e7;
    padding: 1px;
    /* margin: 5px 10px 0px 10px; order: clockwise (top, right, bottom, left) */
    grid-column: 1 / span 3;
    height: min-content;
    /* opacity: 0.2; */
}

u {
    color: #05deeb;
}

.styleSection {
    border: #881b73 2px dotted;
    padding: 10px;
    /* display: inline-block; */
    /* margin-left: 11px; */
    /* margin-right: 11.5px; */
    height: auto;
}



#textStyle div {
    color: #854cb5;
}

#stylePsubheader {
    color: #854cb5;
}

#colors {
    /* width: 16%; */
    text-align: center;
    /* width: 500px */
}

#fonts {
    /* width: 36%; */
}

#textStyle {
    /* width: 36%; */
}

#deepBlush {
    background-color: #de649a;
}

#haiti {
    background-color: #170a1f;
}

#disco {
    background-color: #881b73;
}

#wineBerry {
    background-color: #5a1647;
}

#snuff {
    background-color: #e5d3e7;
}

#persimmon {
    background-color: #ff5354;
}

#brightTurq {
    background-color: #05deeb;
}

#megrim, .megrim-style {
    font-family: 'Megrim', cursive;
}

#righteous, .righteous-style {
    font-family: 'Righteous', cursive;
}

#montserratAlt, #montAlt-bold {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

#montAlt-thin-ital {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-style: italic;
}

#montAlt-reg, .montserrat-style {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}

#colors p{
    border-radius: 35%;
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid black;
}

#fonts li {
    list-style-type: none;
}

footer p {
    color: #ff5354;
}

/* add media querys below for different screen sizes */
@media only screen and (max-width: 760px) {
    
}